<div>
  <nav class="navbar navbar-default navbar-fixed-top navbar-toolbar">
    <div class="container-fluid">
      <div class="btn-group pull-right">
        <button ng-repeat="item in vm.sortByList"
                class="btn btn-default"
                ng-class="{ 'btn-primary': item == vm.sortBy }">
          {{ ::item }}
        </button>
      </div>

      <pagination items="vm.items"></pagination>
    </div>
  </nav>

  <div class="media" ng-repeat="item in vm.items">
      <div class="media-left" ng-if="item.data.thumbnail">
        <a href="#">
          <img class="media-object" ng-src="{{ ::item.data.thumbnail }}" width="120">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">
          <a ng-href="{{ ::item.data.url }}" target="_blank">{{ ::item.data.title }}</a>
        </h4>

        <div>
          <span class="label label-primary">{{ ::item.data.domain }}</span>

          <span class="label label-default">
            <span class="glyphicon glyphicon-arrow-up"></span> {{ ::item.data.score }}
          </span>

          <span class="label label-default">
            <span class="glyphicon glyphicon-comment"></span> {{ ::item.data.num_comments }}
          </span>
        </div>

        <div class="info">
          {{ ::item.data.created_utc | timeago }} by <span class="author">{{ ::item.data.author }}</span>
        </div>

        <!--<a ng-href="{{ 'http://reddit.com' + item.data.permalink }}" target="_blank">
          {{ ::item.data.num_comments }} comments
        </a>-->
      </div>
  </div>

</div>